body {
    /* background-color: #000000;*/
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.p1 {
    text-align: center;
    letter-spacing: 0.5px;
    word-spacing: 10px;
}

.p2 {
    text-align: left;
}

.p3 {
    text-align: right;
}
.cihuy {
    text-align: justify;
    
    text-indent: 2em;
    text-decoration: underline dotted #1a2a75;
}
h1
{
    text-transform: uppercase;
}

.trans1 {
    color: rgb(174, 189, 233);
    text-transform: uppercase;
}